body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

